<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-content">
     <h3>Delaine Lawrence</h3>
     <p>I'm a consultant front-end developer specialising in front-end architecture and Sass-flavoured CSS. When not working on client projects, I teach in person and online. Away from all things digital, I have a keen interest in property investment, fine food, wine and someday plan to open my own a restaurant.</p>
     <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
  <div class="footer-social">
      <ul>
        <li>
          <a href="http://www.twitter.com/{{ site.twitter_username }}">
            <img src="/images/twitter.png" alt="twitter logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://www.github.com/{{ site.github_username }}">
            <img src="/images/github.png" alt="github logo" width="40">
          </a>
        </li>
        <li>
          <a href="http://plus.google.com/{{ site.google_username }}">
            <img src="/images/google.png" alt="google logo" width="40">
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
